ClientWS1/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="BanqueServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8084/?xsd=1"/>
</xsd:schema>
</types>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="convertEuroToDinar">
<part name="parameters" element="tns:convertEuroToDinar"/>
</message>
<message name="convertEuroToDinarResponse">
<part name="parameters" element="tns:convertEuroToDinarResponse"/>
</message>
<message name="getComptes">
<part name="parameters" element="tns:getComptes"/>
</message>
<message name="getComptesResponse">
<part name="parameters" element="tns:getComptesResponse"/>
</message>
<portType name="BanqueWS">
<operation name="getCompte">
<input wsam:Action="http://service/BanqueWS/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://service/BanqueWS/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="convertEuroToDinar">
<input wsam:Action="http://service/BanqueWS/convertEuroToDinarRequest" message="tns:convertEuroToDinar"/>
<output wsam:Action="http://service/BanqueWS/convertEuroToDinarResponse" message="tns:convertEuroToDinarResponse"/>
</operation>
<operation name="getComptes">
<input wsam:Action="http://service/BanqueWS/getComptesRequest" message="tns:getComptes"/>
<output wsam:Action="http://service/BanqueWS/getComptesResponse" message="tns:getComptesResponse"/>
</operation>
</portType>
<binding name="BanqueWSPortBinding" type="tns:BanqueWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertEuroToDinar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueServiceService">
<port name="BanqueWSPort" binding="tns:BanqueWSPortBinding">
<soap:address location="http://localhost:8084/"/>
</port>
</service>
</definitions>