tp2/src/xsd/ServiceBanque.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT BanqueService (conversion, getCompte, getComptes)>
<!ELEMENT conversion (montant)>
<!ELEMENT montant (#PCDATA)>
<!ELEMENT ServiceBanque (Compte, Comptes)>

<!ELEMENT Compte (Code, Solde, DateCreation)>
<!ELEMENT Comptes (Compte*)>

<!ELEMENT Code (#PCDATA)>
<!ELEMENT Solde (#PCDATA)>
<!ELEMENT DateCreation (#PCDATA)>
